<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CodeChef IIIT AGARTALA Chapter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="assets/logo.jpg" type="image/x-icon"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'forum/styles/nav-bar.css' %}">
        <link rel="stylesheet" href="{% static 'forum/styles/footer.css' %}">
        <link rel="stylesheet" href="{% static 'forum/styles/CP.css' %}">
    </head>
    <body class="CP">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar fixed-top mb-0 navbar-expand-sm navbar-light">
            <div class="container">
            <a href="/" class="navbar-brand">CodeChef IIIT AGARTALA Chapter</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-table="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto">
                    <li>
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/cp">CP</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/webdev">Web Dev</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/appdev">App Dev</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/ml"> ML</a>
                        </li>
            </ul>
        </div>
    </div>
    </nav>

    <div class="content">

        <span class="header">Welcome to Competitive Programming Journey</span>
        <span class="content-text">Hello coder, select your tool and lets start your battle.</span>

        <div class="row justify-content-center">
            <span class="title">Array</span>

            <div class="col-lg-4 col-sm-12 info">
                <span>Execises</span>
                <span>
                    <ul>
                        <li><a href="https://www.codechef.com/problems/LECANDY/">Little Elephant and Candles</a></li>
                        <li><a href="https://www.codechef.com/problems/ARRPROB ">The Array Problem</a></li>
                        <li><a href="https://www.codechef.com/problems/ESY2">Simple Array</a></li>
                        <li><a href="https://www.codechef.com/problems/ESY2">Permuted Array Problem</a></li>
                        <li><a href="https://www.geeksforgeeks.org/maximum-and-minimum-in-an-array/">Find the Maximum and mimimum element</a></li>
                        <li><a href="https://www.hackerrank.com/challenges/arrays-introduction/problem  ">Array-introduction</a></li>
                        <li><a href="https://www.hackerrank.com/challenges/1d-arrays-in-c/problem ">Array Elements Sum</a></li>
                    </ul>
                </span>
            </div>

            <div class="col-lg-8 col-sm-12 info">
                <iframe
                    src="https://www.youtube-nocookie.com/embed/videoseries?list=PLgaOsON4aFQbrNPVLMuK_CxxwUTeiE7F9"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>

        </div>
        <div class="row justify-content-center">
            <span class="title">String</span>

            <div class="col-lg-7 col-sm-12 info">
                <iframe
                    src="https://www.youtube-nocookie.com/embed/videoseries?list=PLgaOsON4aFQY3DfxRQCMGQE9J8T3kYkhC"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
            <div class="col-lg-5 col-sm-12 info">
                <span>Execises</span>
                <span>
                    <ul>
                        <li><a href="https://www.codechef.com/problems/LONGSEQ">Chef and digits of a number</a></li>
                            <li><a href="https://www.codechef.com/problems/TWOSTR">Chef and the Wildcard Matching</a></li>
                            <li><a href="https://www.codechef.com/problems/CHEFSTLT">Chef and Two Strings</a></li>
                            <li><a href="https://www.codechef.com/problems/SNAKPROC">Snake Procession</a></li>
                            <li><a href="https://www.codechef.com/problems/ALPHABET">Studying Alphabet</a></li>
                            <li><a href=" https://www.codechef.com/problems/CHN09">Malvika is peculiar about color of balloons</a></li>
                            <li><a href="https://www.codechef.com/problems/FRGTNLNG">Forgotten Language</a></li>
                            <li><a href="https://www.codechef.com/problems/CLFIBD">Fibonacci String</a></li>
                            <li><a href="https://www.codechef.com/problems/PAWRI ">Pawri Meme</a></li>
                            <li><a href="https://www.codechef.com/problems/DIFSTR">Different String</a></li>
                            <li><a href=" https://www.hackerrank.com/challenges/c-tutorial-strings/problem  ">Strings</a></li>
                            <li><a href="https://www.hackerrank.com/challenges/c-tutorial-stringstream/problem">String Stream</a></li>
                        
                    </ul>
                </span>
            </div>


        </div>
    </div>

    <div class="footer">
    <div>
        <span class="heading">CodeChef IIIT AGARTALA Chapter</span>
        <span class="footer-text">Join the Community</span>
        <span class="icons">
            <span>
                <a href="https://www.facebook.com/codechef.iiitAgt" target="_blank"><img
                        src="{% static '/forum/assets/5296500_fb_social media_facebook_facebook logo_social network_icon.svg' %}"/></a>
            </span>
            <span>
                <a href="https://www.instagram.com/codechef.iiitagt/" target="_blank"><img
                        src="{% static 'forum/assets/1298747_instagram_brand_logo_social media_icon.svg' %}"/></a>
            </span>
            <span>
                <a href="https://twitter.com/iagartala"><img
                        src="{% static 'forum/assets/5296514_bird_tweet_twitter_twitter logo_icon.svg' %}"/></a>
            </span>
            <span>
                <a href="https://www.linkedin.com/company/codechef-iiit-agartala-chapter"><img
                        src="{% static 'forum/assets/317735_career_linkedin_icon.svg' %}"/></a>
            </span>
        </span>
        <span class="footer-text-2">Get Connected</span>
        <span class="footer-email"><a href="mailto:codechef.iiitagt@gmail.com">codechef.iiitagt@gmail.com</a></span>
        <span class="copyright">© IIIT AGARTALA STUDENT PAGE 2021</span>
    </div>
</div>
   <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        <script src="" async defer></script>
    </body>
</html>
