.footer div{
    background-color: rgba(221, 221, 221, 0.205);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .heading{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.footer .footer-text{
    font-size: 1.5rem;
}

.footer img{
    margin: 0.26rem 0.5rem 2rem;
    height: 2rem;
    transition: 0.5s;
}

.footer img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.footer .footer-text-2{
    font-size: 1.5rem;

}

.footer-email{
    margin-bottom: 3.5rem;
    font-weight: bold;
}
.footer-email a{
    color: black;
}
.footer-email:hover{
    text-decoration: underline;
}

.footer .copyright{
    margin-bottom: 1.5rem;
}